.planning-wrapper{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 350px;
    padding: 1rem 1.3rem;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        & p{
            color: hsl(0, 4%, 64%);
        }
    }

    .planning-items{

        .planning-item{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;

            h4{
                color: var(--primary-color);
                /* margin-bottom: 5px; */
            }

            p{
                align-self: flex-end;
                color: grey;
            }

            progress{
                /* background-color: var(--primary-color); */
                width: 100%;
                padding: 1rem 0.8rem;
            }

            
        }
    }
}

progress::-webkit-progress-value {
    background-color: green;
  }
  
  progress::-moz-orange-progress-value {
    background-color: green;
  }
  
  progress::-webkit-progress-value {
    background-color: green;
  }