.sidebar {
    display: flex;
    flex-direction: column;
    width: 241px;
    padding: 0.5rem 2rem;
    background-color: white;
    padding-right: 0rem;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    min-height: 100vh;
    flex-shrink: 0;
    align-self: stretch;
}

.logo {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;


    & img {
        width: 75px;
        height: 75px;
        filter: hue-rotate(120deg);
    }

    & img.cross{
        width: 30px; 
        height: 30px;
        /* filter: invert(1) brightness(100); */
        display: none;
        cursor: pointer;
    }
}

.sideitems-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.6rem;
    color: var(--primary-color);
}

hr {
    width: 80%;
    border: 1px solid rgb(194, 192, 192);
    margin-left: 0;
}




@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -241px;
        transition: 0.3s;
        align-self: stretch;

        div {
            & .cross {
                display: inline;
            }
        }
    }

    .sidebar.show {
        left: 0;
        z-index: 1000 !important;
    }
}